.admin-dashboard {
  padding: 20px;
}

.admin-header {
  background-color: #9fcaf5; /* Navy background */
  color: hsl(0, 0%, 5%); /* White text */
  padding: 10px;
  text-align: center;
}

.welcome-message {
  margin: 0;
  font-size: 28px;
}

.dashboard-sections {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.dashboard-section {
  background-color: #FFFFFF; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 30%;
}

.dashboard-link {
  display: block;
  margin-top: 10px;
  color: #406c98; /* Navy text */
  text-decoration: none;
  font-weight: bold;
}

.dashboard-link:hover {
  color: #001f3f; /* Darker Navy for hover effect */
}
