html, body {
  height: 200%;
  margin: 10;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 30vh; /* Full viewport height */
}

.dashboard-title {
  font-size: 10.5em;
  color: #333;
  text-align: center; /* Center title horizontally */
  margin: 10; /* Remove default margin */
  position: absolute; /* Position the title at the top */
  top: 50px; /* Adjust the top position */
  width: 100%; /* Ensure it spans the full width */
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px; /* Space between title and card */
}

.dashboard-container p {
  font-size: 1.2em;
  color: #f5f2f2;
}
